* {
  /* box-sizing:border-box; */
}

.header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  margin:0 20px;
}

.cart {
  width:30px;
  height:30px;
  border-radius:50vh;
  background-color:black;
}


.categ {
  /* background-color:red; */
  display:flex;
  /* flex-direction:column; */
  gap:20px;
  /* background-color:green; */
}

.nombres {
  background-color:rgb(16, 228, 104);
  /* border-radius:15px; */
  width:100px;
  border: 1px solid gray;
  padding:10px;
  font-size:16px;
}

/* Productos */
.productos > ul > li {
  list-style:none;
  width:100px;
  height:100px;
  padding:10px;
  background-color:gray;
}
.productos> ul{
  display:flex;
  gap:20px;
}