.boton{
    background-color:#6278f7;
    border-radius:10px;
    font-weight: 700;
    color:#ffffff;
    border:none;
    padding:24px 32px;
    margin-top:32px;
    cursor: pointer;
    transition:.6s;
}

.boton:hover{
    color:#ccc;
}
